<h1>{{post.title}}</h1>
<div class="when">
  {{ post.date | date : '%B %d, %Y'}} &nbsp;&mdash;
</div>

{{ content }}


<section class="meta">
  <div class="block">
    <a href="https://twitter.com/mayanks">
      <span class="ss-social-circle ss-twitter" />
      <div>Follow me on Twitter.</div>
    </a>
  </div>

  <div class="block">
    <a href="https://github.com/holman">
      <span class="ss-social-circle ss-octocat" />
      <div>I'm a developer at GitHub and frequently give talks about startups, Ruby, and building things.</div>
    </a>
  </div>

  

  <div style="clear: both"></div>

