<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Mayank Sharam: On Entreprenurship, Technology and Life</title>
  <meta name="author" content="Mayank Sharma" />
  <meta name="description" content="Writings, by Mayank Sharma. Mayank works at Amagi and enjoys coding in Rails." />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/atom+xml" title="Mayank Sharma Feed" href="http://mayanks.me/feed.xml" />
  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" media="screen, projection" />
  <link media="only screen and (max-device-width: 480px)" href="/stylesheets/mobile.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" type="text/css">
  <link rel="stylesheet" href="/webfonts/ss-social.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" />

  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div class="header">
    <div class="container">
      <section class="name">
        <a href="/">Mayank<b>Sharma</b></a>
      </section>

      <ul class="menu">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>

      <ul class="social">
        <li><a href="https://github.com/mayanks" class="ss-icon ss-social-circle">github</a></li>
        <li><a href="https://twitter.com/mayanks" class="ss-icon ss-social-circle">twitter</a></li>
        <li><a href="http://mayanks.me/feed.xml" class="ss-icon ss-social-circle">rss</a></li>
      </ul>
    </div>
  </div>

  

  <section class="container content">
  {{ content }}
  </section>

  <div class="footer">
    <div class="container">
      &copy; Mayank Sharma | Theme inspired by <a href="http://zachholman.com/">@holman</a>
    </div>
  </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8744648-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


</body>

</html>
