---
layout: default
---
<article class="post">
<h1>{{page.title}}</h1>
<div class="when">
  {{ page.date | date : '%B %d, %Y'}} &nbsp;&mdash;
</div>

{{ content }}


  

  <div style="clear: both"></div>

<div id="disqus_thread"></div>
<script type="text/javascript" 	src="http://disqus.com/forums/mayanks/embed.js"></script>
<noscript><a href="http://disqus.com/forums/mayanks/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<section class="meta">
  <div class="block">
    <a href="https://twitter.com/mayanks">
      <span class="ss-social-circle ss-twitter" />
        <div>Follow me on Twitter.</div>
    </a>
  </div>

  <div class="block">
    <a href="http://www.linkedin.com/in/mayanks">
      <span class="ss-social-circle ss-linkedin" />
        <div>I code at Amagi and am passionate about Entreprenurship.</div>
      </a>
    </div>

  </article>
